<h1>KarmaVille's Most Famous</h1>
<table class="table table-bordered table-striped">
  <tr>
    <th>Karma</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <%= render 'user_row', :user => user %>
  <% end %>
</table>

<div class="pagination">
  <ul>
    <% if @page == 1 %><li class="disabled"><% else %><li><% end %>
    <%= link_to "First", page_path(1) %></li>

    <% (1..5).to_a.reverse.each do |i| %>
    <% if @page - (i - 1) > 1 %>
      <li><%= link_to (@page - i), page_path(@page - i)%></li>
      <% end %>
    <% end %>
      
    <li class="active"><%= link_to @page, page_path(@page) %></li>
    
    <% 5.times do |i| %>
    <% unless @page + (i + 1) >= @total_pages %>
      <li><%= link_to (@page + (i + 1) ), page_path(@page + (i + 1) )%></li>
      <% end %>
    <% end %>
    
    <% if @page == (@total_pages) %><li class="disabled"><% else %><li><% end %>
    <%= link_to "Last", page_path(@total_pages) %></li>
  </ul>
</div>
